

body,h2{
    margin:0;
}

.landingpage{
    background-image:url(pexels-thepaintedsquare-858094\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header a{
    text-decoration: none;
    color: rgb(196, 196, 35);
}

header{
    display: flex;
    padding: 16px;
}

#logo{
    flex: 3;
    font-size: 1.50em;
}

nav{
    flex: 2;
    display: flex;
}

nav a{
    flex: 1;
}

nav a:hover{
    color: green;
}

.maintext{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    padding: 32px;
}

.tagline1{
    color: rgb(218, 17, 17);
    font-size: 40px;
    font-weight: bolder;
}

.tagline2{
    color: yellow;
    font-size: 20px;

}


.maintext div{
    margin-top: .7em;
}

.maintext button{
    width: 10vw;
    border-radius: 10px;
    margin-top: 2em;
    padding: .7em;
    background-color: rgb(55, 192, 55);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid green;

}


.menu{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: white;
}

#menuheading,#locheading{
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: rgb(229, 15, 15);
    font-size: 40px;
    display: flex;
    justify-content: center;

}

.menu th{
    color: rgb(38, 207, 38);
    font-size: 27px;
    padding: 10px   ;
}

table{
    width: 100%;
    padding: 1em;
}

.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.menu td:nth-child(1){
    flex: 1;
    justify-self: left;
}

.menu td:nth-child(2){
    justify-self: right ;
}

.maincourse{
    grid-row: span 2;
}

.locations{
    background:linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.locations h2{
    color: rgb(11, 182, 11);
    margin-bottom: .8em;
}

.locations div{
    flex: 1;
    padding: 1em;
    min-width:220px  ;
}

footer{
    background-color: rgba(0, 0, 0, 0.937);
    color: white;
    padding: .5em;
    display: flex;

}

a img{
    width: 12px;
    height: 14px;
    color: yellow;
    margin-top: 3px;

    
}

h2 img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

#menuimg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%; 
    
 

}

nav a{
    font-size: 20px;
}


#menu1{
    display: flex;
    padding-left: 9px;

}

#menu1 img{
    margin-right: 5px;
}